{% extends 'base/base.html' %}

{% block title %}
    <title>Register</title>
{% endblock title %}


{% block content %}

    {% include 'navbar.html' %}

    <h1>Register</h1>

    <div class="shadow p-4 mb-5 bg-body rounded">

        <form action="{% url "members:register" %}" method="POST">

        {% csrf_token %}
            {{ form.as_p }}
        <button type='submit'>Register</button>
    
        </form>
        {% comment %} <p>Already have an account? Please <a href="/login">Login</a></p> {% endcomment %}
    </div>
{% endblock content %}