{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Allergy</title>
{% endblock title %}


{% block content %}
{% include 'navbar.html' %}

{% comment %} {{ form }} {% endcomment %}

<div class="shadow p-4 mb-5 bg-body rounded">
    <h2>Allergy Form</h2>  

    <form action="" method=POST class="card p-3">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
                {{ form.allergy_type|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.allergy_name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                {{ form.allergy_reaction|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                {{ form.allergy_intervention|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                {{ form.allergy_notes|as_crispy_field }}
            </div>
        </div>
    </form>    
</div>

{% endblock content %}

// TODO: Finish formatting form so that it dispays nicely