{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Profile</title>
{% endblock title %}


{% block content %}
{% include 'navbar.html' %}

<div class="shadow p-4 mb-5 bg-body rounded">
    <h2>User Profile Form</h2>

    <form action="" method="POST" class="card p-3">
        {% csrf_token %}

        <fieldset>
            <legend>Personal Information</legend>
            <div class="row">
                <div class="col-2">
                    {{ form.prefix|as_crispy_field}}
                </div>
                <div class="col-2">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.last_name|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.date_of_birth|as_crispy_field }}
                </div>                
            </div>
        </fieldset>

        <fieldset>
            <div class="row">
                <div class="col-2">
                    {{ form.height_ft|as_crispy_field}}
                </div>
                <div class="col-2">
                    {{ form.height_in|as_crispy_field}}
                </div>
                <div class="col-2">
                    {{ form.weight_lbs|as_crispy_field}}
                </div>
                <div class="col-2">
                    {{ form.blood_type|as_crispy_field}}
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    {{ form.address|as_crispy_field}}
                </div>
                <div class="col-2">
                    {{ form.email|as_crispy_field}}
                </div>
                <div class="col-2">
                    {{ form.phone|as_crispy_field}}
                </div>
                <div class="col-2">
                    {{ form.relationship|as_crispy_field}}
                </div>                
            </div>
        </fieldset>

        <fieldset>
            <legend>Provider Information</legend>              
            <div class="row">
                <div class="col-3">
                    {{ form.pcp|as_crispy_field}}
                </div>
                <div class="col-3">
                    {{ form.pcp_address|as_crispy_field}}
                </div>
                <div class="col-2">
                    {{ form.pcp_number|as_crispy_field}}
                </div>            
            </div>
        </fieldset>
        

        <fieldset>
            <legend>Emergency Contact Information</legend>
            <div class="row">
                <div class="col-3">
                    {{ form.emergency_contact|as_crispy_field}}
                </div>
                <div class="col-3">
                    {{ form.emergency_phone|as_crispy_field}}
                </div>            
            </div>
        </fieldset>
        
        
        <fieldset>
            <input type="Submit" value="Submit" class="btn btn-primary btn-lg">
        </fieldset>



    </form>
</div>
{% endblock content %}