{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Medical History</title>
{% endblock title %}


{% block content %}
{% include 'navbar.html' %}

<div class="shadow p-4 mb-5 bg-body rounded">
      
    <h2>Test page</h2>


    {% for history in med_hx %} 
    {{ history.hx_type }} <br>
    {{ history.hx_date }} <br>
    {{ history.hx_diagnosis }} <br>
    {{ history.user_information.first_name }} <br>
    <br>
    <br>
    <br>
    {% endfor %} 
</div>

{% endblock content %}






