{% extends 'health_records/base/base.html' %}

{% load static %}

{% block title %}
    <title>Nwaukwa EHR - Register</title>
{% endblock title %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#!">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
{% endblock navbar %} 



{% block content%}
    <div class="container px-4 px-lg-5">
        <form class="form-control" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>New User Registration</legend>
                {{ form.as_p }}
            </fieldset>
            
            
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create Account</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>


{% endblock content%}

